<h4 class="center">Home Page</h4>
<p  >Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat tempore 
    iure ipsa accusamus. Placeat numquam quos eius enim praesentium aliquam facilis eveniet, voluptate reiciendis sit pariatur, aperiam consequuntur, quidem aspernatur exercitationem unde est! Quam ut ipsam quia corrupti alias veniam aspernatur eligendi rerum quaerat sapiente deleniti dolorum quisquam illo impedit totam quo numquam, nulla dolorem cumque dolores. Placeat excepturi cum rerum explicabo a fuga eveniet laborum magnam. Modi suscipit optio distinctio, ex ipsa autem est culpa molestias, sit officia ullam consequuntur natus saepe omnis molestiae. Excepturi doloremque accusantium voluptates assume
    nda iusto facilis cum necessitatibus animi. Non unde error aliquid vel.</p>
    <button class="btn btn-primary" [routerLink]="['/details']">Go to contact details</button>
    